ul.blacklist{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.blacklist li{
	margin-bottom: 5px;
}

ul.blacklist li ul{
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
	display: none;
}

ul.blacklist li ul li{

}