@import "admin-layout.css";
@import "admin-navigation.css";
@import "admin-filters.css";
@import "admin-forms.css";
/*@import "admin-tickets.css";*/
@import "admin-wizard.css";
@import "admin-users.css";
@import "admin-reports.css";
@import "admin-results.css";
@import "admin-notifications.css";
@import "admin-pagelist.css";
@import "admin-campaigns.css";
@import "../fonts/raleway.css";

*{
    box-sizing: border-box; /* css3 rec */
    -moz-box-sizing: border-box; /* ff2 */
    -ms-box-sizing: border-box; /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    -khtml-box-sizing: border-box; /* konqueror */
}

body{
	margin: 0;
	padding: 0;
	font-family: 'ralewayregular',Arial, Helvetica, sans-serif;
	font-size: 10pt;
	min-width: 1024px;
}

h1, h2, h3 {
color: #000060;
}

h1{
color: #000060;
font-weight: normal;
text-transform: uppercase;
letter-spacing: 0.1em;
font-size: 2.5em;
    display:none;
}

a{
	color: #0066cc;
	outline: none;
}


.red{
	color: #f00;
}

a img{
	border: 0;
}

input.admin_btn{  background-image: url('../images/btn_bg.gif'); background-position: top left; background-color: transparent; border: 0px; cursor: pointer; height: 35px; font-size: 8pt; color: #444444; font-weight: bold; text-align: left;  padding-left: 10px; margin: 0px; }
a.admin_btn{  background-image: url('../images/btn_bg.gif'); display: block; background-position: top left; background-color: transparent; border: 0px; cursor: pointer; height: 25px; font-size: 8pt; color: #444444; font-weight: bold; text-align: left;  padding-left: 10px; padding-right: 10px; padding-top: 10px; margin: 0px; }
a.admin_btn:hover{ color: #000000; font-weight: bold; padding-left: 20px; padding-right: 20px; }
input.admin_btn:hover{ color: #000000; font-weight: bold; padding-left: 20px; }
input.error{ border: 1px solid #f00; background-color: #FFFFCC; }
label.error{ color: #f00; margin: 0px 10px; }

div.fullscreen{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	background-color: #fff;
	height: 100%;
}

div.error{
	color:#000;
	font-weight:bold;
	text-left:center;
	width: 95%;
	margin: 10px;
	border: 1px solid #F00;
	padding: 5px 0px;
	text-indent: 10px;
	background-color: #FBE1E2;
	display: none;
}

ul.error{
	color:#000;
	list-style-type:none;
	padding:0px;
	margin:10px;
}
ul.error li {
	margin-bottom:2px;
}

#userdetails
{
	font-size:8pt;
	padding:5px 10px 0px 10px;
	text-align:right;
	float: right;
}

#bookmarks
{
	font-size:8pt;
	padding:0px 10px 0px 10px;
	text-align:left;
	font-weight: bold;
	line-height:25px;
}
#reports ul
{
	list-style:none;
}

#reports ul li
{
	float:left;
	width:25%;
	text-align:center;
}

@media all and (min-width:1200px){
    #reports ul li{
        width:20%;
    }
}

@media all and (min-width:1600px){
    #reports ul li{
        width:16.6666666666%;
    }
}

@media all and (min-width:1800px){
    #reports ul li{
        width:14.28%;
    }
}

/**
* TABBED INTERFACE CONTROL
**/

.TabbedInterface > ul{
    margin: 15px 0 10px 0;
    padding: 0;
    height: 64px;
}

.TabbedInterface > ul > li{
    display: inline-block;
    min-width: 80px;
    padding: 10px 10px 5px 10px;
    margin-right: 1px;
    list-style: none;
    height: 64px;
    border-bottom: 0;
    background: #69a3bb;
    cursor: pointer;
    color: white;
    border-color: #ddd;
}

#contentarea .TabbedInterface li.actionbutton{
    float:right;
    background-color:orange;
    padding:0;
    margin:0;
    border-radius: 5px;
}

.TabbedInterface li.actionbutton button{
    padding: 10px 10px 5px 10px;
    margin:0;
    border:0;
    background:none;
    color:black;
}
.TabbedInterface li.actionbutton button::after{
    content:'';
}

.TabbedInterface.smalltabs > ul {
    height:30px;
}

.TabbedInterface.smalltabs > ul li {
    min-width:30px;
    height:30px;
    background: #69a3bb;
}
.TabbedInterface.smalltabs > ul li i {
    padding:3px;
}

.TabbedInterface.smalltabs{
    border-bottom:solid 1px #ccc;
}

.TabbedInterface.smalltabs,
.TabbedInterface.smalltabs .TabbedInterfaceContent{
    background:#f5f5f5;
}

.TabbedInterface > ul > li{
    text-align:center;
}

.TabbedInterface > ul > li.active{
    background: #00034c;
    border-color: #999;
}

.TabbedInterface > ul > li i{
    margin-right:5px;
    display: block;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.TabbedInterfaceContent{
    display:none;
}

.TabbedInterfaceContent.active{
    display:block;
}

/**
* Access Rights Control
**/

.AccessRightsGroup > ul {
    padding:0;
}

.AccessRightsGroup li {
    list-style-type:none;
    width:300px;
    display:inline-block;
}

.AccessRightsGroup li[data-haschildren]{
    display:block;
    width:100%;
}

.label,
label{
    background: #ddd;
    display: block;
    margin: 2px;
    padding: 3px;
    /* border-radius: 3px; */
}

/**
* Breadcrumbs Control
**/

.ToolbarControl,
.BreadcrumbsControl{
    margin:0;
    position:relative;
}

.BreadcrumbsControl .fa-stack{
    margin-top: -25px;
    margin-left: -10px;
    margin-right: 10px;
    color:#444;
}

.BreadcrumbsControl h3{
    position: absolute;
    top: -3px;
    left: 60px;
    font-size: 20px;
    font-weight:normal;
    text-transform: uppercase;
}

#contentarea .ToolbarControl li, #contentarea .BreadcrumbsControl li{
    list-style-type:none;
    margin: 0 5px 0 0;
    display:inline-block;
    /* padding: 0; */
}
#contentarea .BreadcrumbsControl li{
    margin-right:-11px;
    padding-top: 39px;
}

#contentarea .BreadcrumbsControl li a{
    padding: 0px;
    background: none;
 	border-radius: none;
 	border: none;
 	width: auto;
 	color: #00033c;
}

.ToolbarControl i,
.BreadcrumbsControl i{
    margin:0 5px;
}

.ToolbarControl ul{
    margin:0;
    padding:10px 0;
}

.ToolbarControl li{

}

button,
input[type=button],
input[type=submit],
.ToolbarButtonControl{
    margin:10px;
    padding:10px 20px;
    color:white;
    text-decoration: none;
    background: #088500;
    border: none;
    display:inline-block;
    text-transform: uppercase;
    font-size: 12px;
    /* border-radius:5px; */
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
.ToolbarButtonControl:hover{
    background: #114b13;
}

button::after,
input[type=button]::after,
input[type=submit]::after,
.ToolbarButtonControl::after{
    content: ">";
    float: right;
}


.ToolbarButtonControl i{
    margin-right:10px;
    margin-left:-5px;
}


/* Sebs amends - these need merging in */

.sliding-menu > ul > li > ul > li > a{
    padding:8px;
}
#contentarea ol,  #contentarea ul {
 padding-left: 0;
	list-style-position: inside;
	list-style-type: none;
}
#contentarea li {
 padding: 6px;
}
#contentarea li a {
 display: block;
 text-decoration: none;
 width: 25em;
 padding: 1.2em;
 background: #eee;
 border-radius: 3px;
 border: 1px solid #d1d1d1;
}

#contentarea li a::after {
 content: ">";
 float: right;
}


#contentarea li a:hover {
	background-color: #666;
	color: #fff;
}

#reports ul li a {
	height:130px;
        width:auto;
	background-color: #eee;
}

#reports ul li a::after {
	content: none;
}


#contentarea .BreadcrumbsControl li a {
 background: none;
 display: inline-block;
}
#contentarea .ToolbarControl ul {
 padding: 0;
}
#contentarea .ToolbarControl ul li a.ToolbarButtonControl {
 padding: 0.7em 1em;
 background-color: #088500;
 width:  10em;
 color: #fff;
}
#contentarea .ToolbarControl ul li a.ToolbarButtonControl:hover {
 text-decoration: none;
 background: #114b13;
}

.many_to_many_picklist_form > div{
    float: left;
    width:47%;
    margin:0 2% 0 0;
}

.pseudo_select{
    border:solid 1px #aaa;
}
.pseudo_select ul{
    height:400px;
    overflow:auto;
    clear:left;
}

.pseudo_select ul{
    min-height:400px;
}

/* GAME ENGINE BUILDER */

#contentarea .game_engine_holder{
    display:inline-block;
    width:70%;
    vertical-align:top;
}

#contentarea .game_engine_holder ul,
#contentarea .game_engine_holder li{
    margin:0;
    padding:0;
}

#contentarea .game_engine_holder ul ul .fa-2x{
    font-size:1.3em;
}

#contentarea .gameEngineTopLevels > li {
    float:left;
    width:auto;
    padding:10px;
    margin:0 1%;
    background:#ddd;
    position:relative;
}

.game_engine_holder li{
    list-style-type:none;
}

.game_engine_holder li > div {
    background: #00084d;
    text-align:left;
    color:white;
    padding:20px;
    margin:10px 0 0 0;
    position: relative;
    border-radius: 5px;
}

.game_engine_holder ul ul{
    min-height:5px;
    margin:0;
}

.game_engine_holder li > div.active {
    background: #fff;
}

.game_engine_holder li > div.active > h2, .game_engine_holder li > div.active > h6 {
    color: #00033c;
}

.game_engine_holder li > div > h2{
    font-size:1.2em;
    margin-bottom:0;
	color: #fff;
}
.game_engine_holder li > div > h6{
    font-weight:normal;
    margin:3px 0;
    color:#ddd;
    font-size: 0.8em;
}

.gameBuilderAddItem.topLevelComponent{
    position:absolute;
}

.v2popup{
    position: fixed;
    background: white;
    width: 60%;
    height: auto;
    top: 10%;
    left: 20%;
    outline: rgba(0,0,0,0.5) 400px solid;
    padding: 40px 20px;
    z-index: 100;
    display:none;
    opacity:0;
    border: solid 3px rgba(0,0,0,0.7);
    -webkit-transition: 0.5s all ease;
}

.v2popup.contentEditorPopup{
    left:10%;
    right:10%;
    top:10%;
    bottom:10%;
    height:auto;
    width:auto;
    min-height:698px;
}

.contentEditorPopup.preparing{
    background:#ddd;
}

.contentEditorPopup.preparing > div{
    opacity:0;
}

.contentEditorPopup > div {
    position:absolute;
    top:35px;
    left:0;
    bottom:56px;
}

.contentEditorPopup .contentEditorSelectVariant{
    width:180px;
}

.contentEditorPopup .contentEditorSelectVariant li.active{
    background: #088500;
    color: white;
    transition:all 0.25s ease-in;
}

.contentEditorPopup .contentEditorSelectVariant h4{
    padding: 10px 10px 0 10px;
}

.contentEditorPopup .contentEditorSelectVariantLanguage ul{
    border-top:solid 1px #444;
}
.contentEditorPopup .contentEditorSelectVariantLanguage li span{
    float:right;
    background: white;
    padding: 4px 5px;
    border-radius: 3px;
    margin-top: -3px;
}

.fa-exclamation-triangle{
    color:red;
}

.fa-check{
    color:green;
}

.fa-flag{
    color:orange;
}

.fa-lock{
    color:red;
}


.contentEditorPopup .contentEditorControls{
    width:280px;
    left:auto;
    right:0;
}
.contentEditorPopup .contentEditorEditor{
    left:180px;
    right:280px;
    border-left:solid 1px #444;
    border-right:solid 1px #444;
}

.contentEditorPopup .contentEditorEditor > div.contentEditorWidget {
    display:none;
}

.contentEditorPopup .contentEditorEditor > div.contentEditorText {
    padding:20px;
}

.contentEditorPopup .contentEditorActions,
.contentEditorPopup .contentEditorSelectVariant .contentEditorBlockProperties{
    position:absolute;
    bottom:0;
    width:100%;
    border-top:solid 1px #444;
}
.contentEditorPopup .contentEditorActions{
    text-align:right;
    background:#aaa;
    display:block;
    top:auto;
}

.contentEditorPopup .contentEditorEditor .contentEditorActions input{
    width:auto;
    display:inline-block;
}

.contentEditorPopup .contentEditorEditor textarea,
.contentEditorPopup .contentEditorEditor input {
    width:100%;
}

.contentEditorPopup .contentEditorEditor textarea{
    height:100%;
}

.contentEditorPopup .contentEditorSelectVariant ul{
    margin:0;
    padding:0;
}
.contentEditorPopup .contentEditorSelectVariant li{
    list-style-type:none;
    margin:0;
    padding:10px;
    border-bottom:solid 1px #444;
}

.contentEditorPopup .scrollablelist{
    overflow-y:scroll;
    overflow-x:hidden;
    height:82px;
    background:white;
    padding:5px;
    margin-top:3px;
}
.contentEditorPopup .scrollablelist ul,
.contentEditorPopup .scrollablelist li{
    list-style-type:none;
    padding:0;
    margin:0;
}
.contentEditorPopup fieldset{
    margin:0;
}


.v2popup > h3,
.v2popup > h2{
    font-size: 16px;
    margin-top: -25px;
    /* border-bottom: dotted 1px #aaa; */
    background: #444;
    color: white;
    margin: -40px -20px 0 -20px;
    padding: 8px 20px;
    font-weight: normal;
}

.v2popup.visible{
    opacity:1;
    display:block;
}

#contentarea .game_engine_palette li{
    display:inline-block;
    background:#69a3bb;
    border-radius: 5px;
    list-style-type:none;
    margin: 3px;
    color: white;
    padding: 15px;
    width:24%;
}

.game_engine_data{
    display:none;
}

#contentarea .gameEngineTopLevels > li.commonElements {
    float:none;
    clear:left;
    border-top:solid 10px white;
}

#contentarea .game_engine_holder label{
    background:none;
    margin:0;
}

#contentarea .game_engine_holder label span{
    font-size:10px;
    width:110px;
    display:inline-block;
}

#contentarea .game_engine_holder label input{
    font-size:10px;
    width:80px;
    padding:1px;
    margin:0;
    border:none;
}

.ui-sortable-placeholder{
    background:#aaa;
    height:56px;
}

#contentarea{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:15px 255px 15px 205px;
}

#main-navigation{
}

#utilitiesArea{
position: absolute;
top: 0;
right: 20px;
width: 200px;
background: white;
}

*{
    box-sizing: border-box;
}

div.sliding-menu ul li a {padding: 11px;}
div.sliding-menu ul li ul li a {color: #00033c; font-size: 1.2em;}

div.sliding-menu {background:#eee;}

.ProgessBar span{
    -webkit-transition:1.5s linear all;
    -moz-transition:1.5s linear all;
    transition:1.5s linear all;
}


#utilitiesArea > div {
    font-size: 8pt;
    background: #eee;
    padding: 10px;
    margin:10px 0;
}

#utilitiesArea div h3 {
padding: 10px;
background: #666;
color: white;
font-weight:normal;
margin: -10px -10px 10px -10px;
}

#utilitiesArea input{
    padding:5px 6px;
}

#utilitiesArea ul{
    margin:0;
    list-style-type:none;
    padding:0;
}

#utilitiesArea ul li a {
    font-size:9pt;
	line-height: 15pt;
	text-decoration: none;
 	color: #000575;
}

/* Login Page */

body.loginForm {
    background:url('../images/whitsundays-3.jpg') 50% 50%;
}

body.loginForm #contentarea {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 500px;
    margin-left:-250px;
    padding: 20px;
    background-color: rgba(9, 1, 53, 0.701961);
    color: rgba(255, 255, 255, 0.498039);
}
body.loginForm h1 {
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-transform: uppercase;
}
body.loginForm h1,
body.loginForm p,
body.loginForm .img{
    text-align:center;
}

body.loginForm .detailsform label span {
display: block;
width: auto;
text-align: left;
margin-right: 0;
float: none;
clear: left;
padding: 6px 5px 5px 0px;
background: none;
font-family: ralewaybold;
font-size: 12px;
}
body.loginForm .detailsform input {
    padding: 8px 5px 8px 5px;
    margin: 0;
    float: none;
    border: none;
    width:100%;
}

body.loginForm .detailsform input.bool{
    width:auto;
    margin:0;
}

/* DASHBOARD */

.dashboardChart{
    display:block;
}

.dashboardSmallChart{
    display:inline-block;
    width:48%;
}

.dashboardChart > div {
    width:100%;
    height:200px;
}

.dashboardChart div > a{
    display:none !important;
}

.Headlines{
    border-bottom:dotted 1px #aaa;
    padding:10px 0 12px 0;
}

.Headline{
    display:inline-block;
}

.Headline h2{
    font-size: 13px;
    margin:0 10px;
	color: #000569;
}

.Headline p{
    font-size:26px;
    margin:0px 10px 10px 10px;
	color: #188cbb;
}

.closeButton{
    position:absolute;
    top:0;
    right:0px;
    margin:0;
}

#contentarea .BreadcrumbsControl li a:hover {
 color: inherit;
}

.closeButton::after,
#contentarea .BreadcrumbsControl li a::after {
 content: none;
}


#cms_page_builder #garbageCollector > div{

}

#cms_page_builder label {
    color:black;
    display:block;
    font-size:18px;
    background:none;
}

#cms_page_builder input,
#cms_page_builder select,
#cms_page_builder textarea{
    width:100%;
    margin:5px;
    border:solid 1px #aaa;
}

#cms_page_builder .cmsPageComponent{
    background-color: #EEEEEE;
    border-width:2px;
    border-style: solid;
    border-color:#CCCCCC;
    margin-top:5px;
    margin-bottom:5px;
    position:relative;
}

#cms_page_builder textarea{
    min-height:300px;
}

#cms_page_builder .cmsComponentFormElements{
    margin-right:50px;
}

#cms_page_builder .cmsComponentIcons{
    position:absolute;
    top:10px;
    width:40px;
    right:0;
}

#cms_page_builder .cmsComponentIcons a {

    margin:5px;
}

body .froala-editor{
    background:none;
    border:none;
}

.froala-editor .link-wrapper, .froala-editor .image-wrapper, .froala-editor .video-wrapper {
    padding:20px;
    border:solid 2px rgba(0,0,0,0.5);
    background:white;
    margin-top:10px;
}

.froala-editor:not(.froala-modal):before {
    border-color:rgba(0,0,0,0.5);
    top: 4px !important;
}

body .froala-element{
    background:white;
    color:black;
    border:solid 1px #aaa;
    padding:5px;
    margin:5px;
    max-height:400px;
}

body  .froala-box li a::after,
body  .froala-box button::after{
    content: "";
    float:none;
    margin:0;
    padding:0;
}

body  .froala-box button,
body  .froala-box li{
    margin:2px;
    padding:0;
}

form .froala-box li a {
width: auto;
padding: 0.2em;
background:none;
border-radius:0;
margin:0;
border:none;
}

form .froala-editor span.f-sep{
    clear:none;
}

form .froala-editor span.f-sep {
    height:15px;
}

table.datatable span.balls {
    display: block;
}
table.datatable span.balls span{
display: inline-block;
border: solid 1px #555;
border-radius: 10px;
width: 20px;
height: 20px;
text-align: center;
line-height: 17px;
vertical-align: middle;
margin: 1px 0;
background: #f2f2f2;
}

#blacklist_pages label{
    float:none;
    margin-top:4px;
    margin-bottom:4px;
}


#affiliateadverts .many_to_many_form td {
}

#affiliateadverts .many_to_many_form td * {
    max-width:300px;
    max-height:200px;
}
