#footer {
	clear:both;
	width:100%;
	border-top:1px solid #555;
	opacity: 0.8;
	filter:alpha(opacity=80);
	background:#EEE;
	position: absolute;
	bottom:0;
	height:25px;
}
@media screen{
  body>div#footer{
   position:fixed;
  }
 }
html,
	body {
		margin:0;
		padding:0;
		height:100%;
	}
#header{
	clear:both;
	float:left;
	width:100%;
	border-bottom: 1px solid #000;
}

/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}


/**
* Admin Nav Bar
**/

.sliding-menu  a{
    display:block;
}

.sliding-menu > ul > li > a{
    padding:15px 10px;
    color: #1972B8;
    font-size:15px;
}

.sliding-menu > ul > li > ul {
    border-bottom:solid 2px white;
    background:rgba(255,255,255,0.5);
}
.sliding-menu > ul > li > ul > li > a{
    padding:3px 10px;
}