table.pages-table{
	border-collapse: collapse;
	background-color: #eee;
	width: 99%;
	margin: 1px;
	margin-bottom: 3px;
	margin-top: 3px;

}

table.pages-table td a{
	text-decoration: none;
	padding: inherit !important;
	border: none !important;
	background: none !important;
	width: auto !important;	
}

table.pages-table td{
	padding: 5px 4px;
	border: 1px solid #ccc;
	vertical-align: middle;
}

table.pages-table th{
	padding: 5px 4px;
	background-color: #ddd;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 8pt;
	vertical-align: middle;
}

table.pages-table th.handle, table.pages-table td.handle{
	width: 10px;
	padding: 5px 2px;
}

table.pages-table th.tiny, table.pages-table td.tiny{
	width: 20px;	
	text-align: center;
}

table.pages-table td.small, table.pages-table th.small{
	width: 50px;
	text-align: center;
}

table.pages-table td.medium, table.pages-table th.medium{
	width: 180px;
	text-align: left;
}

table.pages-table td.long a, table.pages-table th.long a{
	text-decoration: underline;
	padding: 0;
	border: none;
	background: none;
}

table.pages-table td.imagecount{
 	width: 35px; 
 	text-align: left;	
}

table.pages-table td.imagecount img{
	float: left;
}

table.pages-table td.imagecount span{
	background-color: #ccc;
	color: #555;
	font-size: 8pt;
	float: left;	
	padding: 2px;
	padding-left: 0px;
}


.page-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	margin-left: 20px;
	margin-right: 1px;
}

.clear-element {
	clear: both;
}

.page-item > div {
	background: #f8f8f8;
	margin: 0.25em 0 0 0;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.sort-handle {
	cursor:move;
	display: inline;
}

.helper {
	border:1px dashed #777777;
}

a img{
	border: 0;	
}

.current-element table.pages-table{

}

ul.ajaxMessages{
	font-size: 8pt;
	list-style: none;
	margin: 0;
	padding: 5px;
	background-color: #eee;
	width: 98%;
	margin-bottom: 5px;
}

ul.ajaxMessages li{
	border: 1px solid #ccc;
	padding: 3px;
	margin-bottom: 2px;
}

ul.ajaxMessages li.error{
	color: #f00;
}
