@charset "utf-8";
/* CSS Document */
div#filters{
	font-size: 8pt;
	overflow: auto;
}

div#filters h3{
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	margin-left: 10px;
}


div.filter{
	margin-bottom: 1px;
	position: relative;
}

div.filter a{
	display: block;
	background-color: #555;
	color: #fff;
	padding: 5px 8px;
	text-decoration: none;
	outline: none;
}

div.filter a.selected{
	background-color: #50b05e;
}

div.filter a img{
	border: 0;
	position: absolute;
	right: 5px;
	top: 3px;
}

div.filter input{
	outline: none;
}

div.filter input.switch{
	position: absolute;
	right: 5px;
	top: 2px;
}	

div.filter a:hover{
	background-color: #ccc;
	color: #000;
}

div.filter div.content{
	padding: 10px;
	overflow: auto;
	background-color: #fff;
	max-height: 500px;
}


div.filter div.content table{
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 7pt;
	width: 100%;
	empty-cells: show;
}

input.filterbutton{
	cursor: pointer;
	text-align: left;
	width: 100%;
	display: block;
	margin-bottom: 1px;
	padding: 3px 6px;
	font-size: 7pt;
	outline: none;	
	border: 0;
}

input.filterbutton:hover{
	background-color: #ccc;
	color: #000;
}

input.applyfilters{
	background-color: #baecb0;
	color: #000;
}

input.cancelfilters{
	background-color: #db7676;
	color: #000;
}

div.applyfiltersbar{
	position: absolute;
	width: 384px;
	height: 54px;
	right: -19px;
	top: 315px;
	z-index: 1000;
	background-image: url("../images/applyfilters.png");
	background-repeat: no-repeat;
}