.resetAppearanceForSelect{
    -webkit-appearance:menulist!important;
    -moz-appearance:menulist!important;
    appearance:menulist!important;
}
.npClear{
    clear:both;
}
.conditionRemove,
.labelPrefix{
    width:30px!important;
    cursor: pointer;
    border-right:2px solid #fff;
    height:33px;
    color:red!important;
}
.labelPrefix{
    color:white!important;
    padding-left:7px!important;

}
.labelTitleNoClear{

    clear:none!important;

}
.labelTitleNoClear.fw{
    width:auto!important;
}

.campaignConditionsGroup fieldset{
    border-bottom:1px solid #ccc;
    padding:15px;
}
.conditionAddControl{
    margin-bottom:20px;

    padding:20px;
    padding-left:0;
}
.conditionAddControl > label >span{
    background-color: #69a3bb;
    color:white;
}

.groupOperator{
    padding-top:10px;
    padding-bottom:15px;
    border-bottom:1px solid #ccc;
}

.smaller{
    width:50%!important;
}
.xsmaller{
    width:15%!important;
}
.label_smaller{
    width:20%!important;
}
.marginLeft10{
    margin-left:10px!important;
}
button.storeCampaignOptions,
button.storeCampaignRedemption{
    float:right;
    background-color: #00034c;
    border-radius:5px;
}
div.campaignOptionsValidationSuccess,
div.campaignOptionsValidationError{
    color:white;
    padding:10px;
    min-width:300px;
    max-width:500px;
    border-radius:4px;
}
div.campaignOptionsValidationSuccess{
    background-color:green;
}
div.campaignOptionsValidationError{
    background-color:red;
    margin-bottom: 20px;
}
div.checkOnTypeResult{
    padding:10px;
}
#campaignPageContentOnPageImageUploaderContainer  div.checkOnTypeResult,
#campaignPageContentOnPageIconUploaderContainer  div.checkOnTypeResult{
    padding: 0!important;
    padding-left:10px!important;
}

span.checkResultError{
    color:red;
}
span.checkResultSuccess{
    color:green;
}
#sysMsg{
    min-height:40px;
}
.inConjuction >span{
    background-color: #69a3bb!important;
    color:white;
}
.afterElement{

    padding:25px 0 15px 0;
    line-height:25px;
    font-weight:bold;
}

.afterElement h2{
    margin-bottom:0;
    margin-top:40px;
}
div.optionsSeparator{
    height:1px;
    border-bottom:1px solid #ccc;
    width:100%;
    margin:20px 0;
    clear:both;
    padding-top:20px;
}
div.optionsSeparator.noPreMargin{
    padding:0;
    margin:0 0 20px 0;
}
/*
|--------------------------------------------------------------------------
| Recipients
|--------------------------------------------------------------------------
*/
#campaignRecipientsFormContainer button, #campaignRecipientsFormContainer input[type=input], #campaignRecipientsFormContainer input[type=button] {
    width: auto;
    margin: 3px 0 10px;
    padding: 8px 8px;
    border-radius: 3px;
    /*background-color: #69a3bb;*/
    background-color: #fff;
    font-size: 14px;
    color:#666;
    cursor: pointer;
}
#campaignRecipientsFormContainer button:active{
    border:none;
}

section.recipientsSection{
    min-height:400px;
    padding:20px;
    margin-bottom:30px;
    border-radius: 5px;

    border: 4px dashed #fff;
}
section.recipientsSection .conditionRemove{
    width:30px!important;
    cursor: pointer;
    border-right:2px solid #fff;
    height:33px;
    color:red;
}
section.recipientsSection .conditionAddControl > label >span,
section.recipientsSection .conditionsProperty > label >span{
    background-color: #C4BCBC;
    color:white;
}
section.recipientsSection.active .conditionAddControl > label >span,
section.recipientsSection.active .conditionsProperty > label >span
{
    background-color: #69a3bb;
    color:white;
}
section.recipientsSection h2{
    color:#ccc;
}

section.recipientsSection.active,
section.recipientsSection.hovered{
   border:4px dashed #F6F6F6;
}
section.recipientsSection.active h2
{
    color:#000060;
}
section.recipientsSection.first{
    margin-top:40px;
}
#loadRecipientsTemplate{
    padding: 9px;
    margin: 0;

    border: none;
    width: auto;
    background: #f4f4f4;
    border-radius: 0;
    font-size: 13px !important;
    float:right;
}
/*
|--------------------------------------------------------------------------
| Autocomplete
|--------------------------------------------------------------------------
*/
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
/*
|--------------------------------------------------------------------------
| Clearfix
|--------------------------------------------------------------------------
*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
.bar {
    height: 18px;
    background: green;
}
/*
   Plupload
------------------------------------------------------------------- */

.plupload_wrapper * {
    box-sizing: content-box;
}

.plupload_button {
    display: -moz-inline-box; /* FF < 3*/
    display: inline-block;
    font: normal 12px sans-serif;
    text-decoration: none;
    color: #42454a;
    border: 1px solid #bababa;
    padding: 2px 8px 3px 20px;
    margin-right: 4px;
    background: #f3f3f3 url('../images/plupload/buttons.png') no-repeat 0 center;
    outline: 0;

    /* Optional rounded corners for browsers that support it */
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.plupload_button:hover {
    color: #000;
    text-decoration: none;
}

.plupload_disabled, a.plupload_disabled:hover {
    color: #737373;
    border-color: #c5c5c5;
    background: #ededed url('../images/plupload/buttons-disabled.png') no-repeat 0 center;
    cursor: default;
}

.plupload_add {
    background-position: -181px center;
}

.plupload_wrapper {
    font: normal 11px Verdana,sans-serif;
    width: 100%;
}

.plupload_container {
    padding: 8px;
    background: url('../images/plupload/transp50.png');
    /*-moz-border-radius: 5px;*/
}

.plupload_container input {
    border: 1px solid #DDD;
    font: normal 11px Verdana,sans-serif;
    width: 98%;
}

.plupload_header {background: #2A2C2E url('../images/plupload/backgrounds.gif') repeat-x;}
.plupload_header_content {
    background: url('../images/plupload/backgrounds.gif') no-repeat 0 -317px;
    min-height: 56px;
    padding-left: 60px;
    color: #FFF;
}
.plupload_header_title {
    font: normal 18px sans-serif;
    padding: 6px 0 3px;
}
.plupload_header_text {
    font: normal 12px sans-serif;
}

.plupload_filelist {
    margin: 0;
    padding: 0;
    list-style: none;
}

.plupload_scroll .plupload_filelist {
    height: 185px;
    background: #F5F5F5;
    overflow-y: scroll;
}

.plupload_filelist li {
    padding: 10px 8px;
    background: #F5F5F5 url('../images/plupload/backgrounds.gif') repeat-x 0 -156px;
    border-bottom: 1px solid #DDD;
}

.plupload_filelist_header, .plupload_filelist_footer {
    background: #DFDFDF;
    padding: 8px 8px;
    color: #42454A;
}
.plupload_filelist_header {
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #CDCDCD;
}

.plupload_filelist_footer {border-top: 1px solid #FFF; height: 22px; line-height: 20px; vertical-align: middle;}
.plupload_file_name {float: left; overflow: hidden}
.plupload_file_status {color: #777;}
.plupload_file_status span {color: #42454A;}
.plupload_file_size, .plupload_file_status, .plupload_progress {
    float: right;
    width: 80px;
}
.plupload_file_size, .plupload_file_status, .plupload_file_action {text-align: right;}

.plupload_filelist .plupload_file_name {
    width: 205px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.plupload_file_action {
    float: right;
    width: 16px;
    height: 16px;
    margin-left: 15px;
}

.plupload_file_action * {
    display: none;
    width: 16px;
    height: 16px;
}

li.plupload_uploading {background: #ECF3DC url('../images/plupload/backgrounds.gif') repeat-x 0 -238px;}
li.plupload_done {color:#AAA}

li.plupload_delete a {
    background: url('../images/plupload/delete.gif');
}

li.plupload_failed a {
    background: url('../images/plupload/error.gif');
    cursor: default;
}

li.plupload_done a {
    background: url('../images/plupload/done.gif');
    cursor: default;
}

.plupload_progress, .plupload_upload_status {
    display: none;
}

.plupload_progress_container {
    margin-top: 3px;
    border: 1px solid #CCC;
    background: #FFF;
    padding: 1px;
}
.plupload_progress_bar {
    width: 0px;
    height: 7px;
    background: #CDEB8B;
}

.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action {
    margin-right: 17px;
}

/* Floats */

.plupload_clear,.plupload_clearer {clear: both;}
.plupload_clearer, .plupload_progress_bar {
    display: block;
    font-size: 0;
    line-height: 0;
}

li.plupload_droptext {
    background: transparent;
    text-align: center;
    vertical-align: middle;
    border: 0;
    line-height: 165px;
}
.voodooPeople{
    background-color:#f5f5f5;
    opacity:.5;
    width:100%;
    height:100%;
    z-index:99999;
}
a.a_disabled{
    pointer-events: none;
    cursor: default;
}

