@charset "utf-8";
/* CSS Document */
div.notifications
{
	border: 1px solid #CCC;
	padding: 5px 10px;
	margin-top: 15px;
}
div.priority
{
	border: 2px solid #CCC;
	background-color:#FFE;
	
}

div.notifications ul
{
}

div.notifications ul li
{
	list-style-type:square;
	padding-bottom: 10px;
	
}

div.notifications h2
{
	color:#C00;
}

div.notifications ul li.priority
{
	font-weight:bold;
	
}