table.report{
	border: 1px solid #ccc;
	padding: 3px;
	font-size: 9pt;
}


table.report td{
	padding: 10px 5px;
}

table.report tr.alternate{
	background-color: #eee;
}
table.report tr.priority{
	color:#F30;
	font-weight:bold;
}
table.report tr:hover{
	background-color: #576c95;
	color: #fff;
}

table.report tr:hover a{
	color: #fff;
}

table.report tr.footer{
	background-color: #fff;
	color: #000;
}

table.report th{
	text-align: left;
	padding-left: 5px;
	border-bottom: 1px solid #aaa;
	background-color: #fff;
	color: #000;
	font-weight: bold;
}

table.report tr:hover th a{
	color: #0066cc;
}

div.reportdate{
	float:right; 
	font-size:9pt; 
	padding: 15px 5px 10px 0px;
	text-align:right;
}

div.reportempty{
	padding: 10px;
	font-weight: bold;
	font-size: 120%;
	border: 1px solid #ccc;
	marign: 10px;
	text-align: center;
}