                            <br>
                            </td>
                          <td class="expander"></td>
                        </tr>
                      </tbody></table>

                    </td>
                  </tr>
                </tbody></table>

                    </td>
                  </tr>
                </table>


        <table class="row">
          <tbody>
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tbody><tr>
                  <td>
                    <a href="http://www.maxlotto.com"><img src="http://mltest:testsite@dev.maxlotto.com/images/trusted-safe-secure.jpg" alt="Maxlotto-Trusted Safe and Secure-100% trusted site-100% secure site-100% licensed site-TUV-eKomi-" border="0" /></a>
                  </td>
                </tr>
                </tbody>
              </table>

              <table class="twelve columns">
                <tr>
                <td>
                  <a href="http://www.maxlotto.com"><img src="http://mltest:testsite@dev.maxlotto.com/images/we-accept.jpg" alt="We Accept-Diner Club-JCB-MaterCard-MasterCardSecureCode-VISA-Verified by VISA-Wirecard-entropay-PugglePlay-Trustly-paysafecard-For non-US residents only-You must 18 or over to play or claim a prize"/><br>
                  <center><img src="http://mltest:testsite@dev.maxlotto.com/images/join-us.jpg" alt="Join Us"/></center>
                  <center>
                  <a href="http://www.maxlotto.com"><img src="http://mltest:testsite@dev.maxlotto.com/images/facebook.jpg" width="31" height="31" alt="facebook" border="0" /></a>&nbsp;&nbsp;
                  <a href="http://www.maxlotto.com"><img src="http://mltest:testsite@dev.maxlotto.com/images/twitter.jpg" width="31" height="31" alt="twitter" border="0" /></a>&nbsp;&nbsp;
                  <a href="http://www.maxlotto.com"><img src="http://mltest:testsite@dev.maxlotto.com/images/google.jpg" width="31" height="31" alt="google" border="0" /></a>
                  </center>
                  <br>
                  <p style="color:#454545; text-align:center; font-size:12px;">This Service operates under the License No. 1668/JAZ issued  to Maxlotto.<br>Authorized and Regulated by the Government of Curacao.</p>
                  <br>
                  <p style="color:#454545; text-align:center; font-size:12px;">This is a service email from which you cannot unsubscribe.<br>
                  <strong>&copy; 2014 Maxlotto. All Rights Reserved</strong></p>
                </td>
                </tr>
              </table>

              </td>
            </tr>
          </tbody></table>

          <!-- container end below -->

        </center>
      </td>
    </tr>
  </tbody></table>

</body></html>