@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
        font-size: 24px;
        font-style: normal;
        margin: 0 0 0 12px;
        float: left;
        clear:left;
        padding: 6px 0;
        margin-right: 8px;
        position:absolute;
        top:0;
        left:0;
}.flaticon-arrow277:before {
	content: "\e000";
}
.flaticon-arrow371:before {
	content: "\e001";
}
.flaticon-bookmark:before {
	content: "\e002";
}
.flaticon-cogwheel:before {
	content: "\e003";
}
.flaticon-cube1:before {
	content: "\e004";
}
.flaticon-download55:before {
	content: "\e005";
}
.flaticon-121:before {
	content: "\e006";
}
.flaticon-16:before {
	content: "\e007";
}
/* Affiliates */
.flaticon-50:before {
	content: "\e008";
        font-size:19px;
}
.flaticon-logout1:before {
	content: "\e009";
}
.flaticon-125:before {
	content: "\e00a";
        font-size:35px;
        margin: -4px 0 0 0;
}
/* Tickets */
.flaticon-56:before {
	content: "\e00b";
}
.flaticon-payment:before {
	content: "\e00c";
}
/* Customers */
.flaticon-122:before {
	content: "\e00d";
        font-size:44px;
        top:-10px;
        left:-10px;
}
.flaticon-personal9:before {
	content: "\e00e";
}
.flaticon-dashboard:before {
	content: "\e00f";
        left:-2px;
}
.flaticon-46:before {
	content: "\e010";
}
.flaticon-small67:before {
	content: "\e011";
}
.flaticon-tools:before {
	content: "\e012";
}
