@charset "utf-8";
/* CSS Document */
.hidden{
	display: none;
}

div.sliding-menu{
	font-size: 8pt;
	width: 170px;

	background: #CDE9EE;
}

div.sliding-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0;
}
div.sliding-menu ul li{
    position:relative;
}

div.sliding-menu ul li a i{
    position: relative;
    top: 2px;
    padding-right: 5px;
}

div.sliding-menu ul li.favourite{
	font-weight: bold;
}

div.sliding-menu ul li a{
    padding: 4px 8px 8px 8px;
    display: block;
    color: #7f7f7f;
    text-decoration: none;
    outline: none;
}


div.sliding-menu ul li a:hover{
	background-color: #c1c1c1;
	color: #0a1f69;
}

div.sliding-menu ul li a.selected{
	background-color: white;
	cursor: default;
	font-weight: normal;
	color: #000453;
}

div.sliding-menu ul li ul li a.selected::before {
	content:"> ";
}

ul.subnav{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	margin-bottom: 10px;
}

ul.subnav li{
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
}

#contentarea ul.subnav li a.largebutton{
	color: #00033c;
	padding: 10px;
	font-size: 10pt;
	background-color: #eee;
	text-align: center;
	text-decoration: none;
	display: block;
	min-width: 130px;
	clear: none;
}

#contentarea ul.subnav li a.largebutton:hover{
	background-color: #888;
	color: #fff;
}

#contentarea ul.subnav li a.largebutton.selected{
	color: #fff;
	background-color: #777 !important;
}

ul.subnav li a.selected{
	color: #fff;
	background-color: #00033c !important;
	cursor: default;
}

ul.subnav li a.selected:hover{
	color: #fff;
	background-color: #576c95;
}
