div.step{
	display: none;
	margin: 10px;
	margin-top: 0px;
}

div.activestep{
	display: block;
}

div.step h2{
	margin-left: 10px;
}

div.step div.controls{
	text-align: right;
	margin: 10px;
	margin-top: 0px;
	margin-right: 32px;
	padding: 10px;
	border: 1px solid #ccc;
	border-top: 0px;
	background-color: #eee;
}

ul.steps{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 20px;
	overflow: auto;
}

ul.steps li{
	float: left;
	border: 1px solid #ccc;
	margin-right: 1px;
	border-bottom: 0;
}

ul.steps li a{
	display: block;
	height: 20px;
	padding: 10px 20px;
	padding-bottom: 3px;
	text-decoration: none;
}

ul.steps li a:hover{
	background-color: #eff5ff;
}

ul.steps li.selected a:hover{
	background-color: #ddd;
}


ul.steps li.selected a{
	background-color: #ddd;
	font-weight: bold;
	color: #000;
}

