div#results input
{
	width: 60px;	
	margin-right: 5px;
	padding: 0px 2px;
}

div#results input.bonus
{
	background-color:#69C;
	border: 1px solid #009;
	font-weight: bold;
	color: #FFF;
}
div#results table tr td input
{
	width: 120px;	
	margin-right: 5px;
	padding: 0px 2px;
}

span.alert
{
	font-weight:bold;
	color:#F00;
	text-transform:uppercase;
}

table.right th
{
	text-align:right;
}