@charset "utf-8";

/*Data Table*/

table.datatable{
    width: 100%;
    margin: 10px 0px;
    text-align: left;
    font-size: 9pt;
    clear: both;
    border-collapse: collapse;
}

.sd_container table.datatable{
	margin: 0;
}

table.datatable th{
    background-color: #f6f6f6;
    color: black;
    padding: 8px;
    font-family: ralewaybold;
    font-weight: normal;
}

table.datatable td,
table.datatable th{
    border-bottom: solid 1px #ddd;
    vertical-align:top;
}

table.datatable th.tiny{
	width: 40px;
}

.datatable th.small{
	width: 80px;
}

table.datatable th.medium{
	width: 120px;
}

table.datatable th.icon{
	width: 15px;
}


table.datatable td{
	padding: 8px;
}

table.datatable tr{
    -webkit-transition:0.25s all ease;
	list-style-image: none;
}
table.datatable tr:hover{
	background-color: #ddd;
}

table.datatable tr.important{
	color: #F03;
}

table.datatable td a{
	color: #576c95;
}

table.datatable td a:hover{
	color: #0033FF;
}

table.largerows td{
	height: 40px;
	vertical-align: middle;
}

table.datatable label{
    background:none;
    padding:0;
    margin:0;
}

table.datatable span{
    display:none;
}

table.datatable input{
    margin:0;
    padding:4px;
}

/*Details Form*/
table.detailsform{
	width: 95%;
	margin: 0px 10px;
	text-align: left;
	font-size: 9pt;
	border: 1px solid #ccc;
	clear: both;
}

table.detailsform th{
	background-color: #eee;
	color: #000;
	font-weight: normal;
	padding: 10px 8px;
	font-size: 8pt;
	vertical-align: top;
}

table.detailsform td{
	border: 1px solid #eee;
}

table.detailsform td textarea{
	width: 100%;
}

.detailsform th.tiny{
	width: 40px;
}

.detailsform label.small{
    width: 32.25%;
}


.detailsform label.medium{
	width: 65%;
}

.detailsform label.long{
	width: 98.75%;
}

.detailsform label.halfsize{
	width: 49%;
}


table.detailsform td{
	padding: 8px 12px 8px 8px;
	vertical-align: top;
}

table.detailsform tr.alternate{
	background-color: #eee;
}

table.detailsform td a{
	color: #576c95;
}

.white{
	color: #fff;
	font-weight: bold;
}

.rightalign{
	text-align: right;
}

.centeralign{
	text-align: center;
}

input.disabledTextField{
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 2px;
	color: #aaa;
}

div.searchBox{
	background-color: #e6edf4;
	clear: both;
	padding: 5px 0px;
	font-size: 9pt;
	margin: 10px 0;
}

div.searchBox label{
	margin-right: 15px;
}

div.searchBox table tr td select{
	padding: 1px 1px 1px 3px;
	font-size: 9pt;
}

div.applyBox{
	background-color: #eee;
	clear: both;
	padding: 5px;
	font-size: 9pt;
	margin: 10px;
	margin-top: 0px;
	text-align: center;
	width: 200px;
	margin-left: 50px;
}

a.clearbtn{
	padding: 3px 6px;
	padding-top: 2px;
	background-color: #7f9db9;
	color: #fff;
	text-decoration: none;
	font-size: 11pt;
}

fieldset{
    border:none;
    margin:10px 0;
    padding:0;
}

.detailsform label{
    background:none;
    /* border-bottom:dotted 1px #999; */
    display:inline-block;
    margin: 2px 1% 2px 0;
    padding: 0px 0px 2px 0px;
}

.detailsform label > span{
    display: block;
    width: 140px;
    text-align: right;
    margin-right: 0;
    float: left;
    clear: left;
    padding: 10px;
    background: #ddd;
    /* border-radius: 3px; */
    font-family: ralewaybold;
    font-size: 12px;
}

label > div {
    position: relative;
    overflow: hidden;
    padding: 0;
    position: relative;
    /* top: -2px; */
    margin: 0;
    /* left: -2px; */
    /* height: 100%; */
}

.detailsform label > div a {
    position:absolute;
    top:6px;
    right:5px;
}

.detailsform input,
.detailsform select,
.detailsform textarea{
    padding: 10px;
    margin: 0;
    float: left;
    border: none;
    width:100%;
    background: #f4f4f4;
    border-radius: 3px;
    font-size: 13px !important;
}

.detailsform input[type=checkbox],
.detailsform input[type=radio]{
    width:20px;
    margin:5px;
}

.detailsform .datetimepicker input{
    /* width: 130px; */
}

.detailsform select{
    padding:10px;
    -webkit-appearance:none;
}

input {
	border-radius: 3px;
	font-size: 1em;
}