div.sortableColumn{
	float: left;
	margin-right: 10px;
	background-color: #eee;
	padding-bottom: 10px;
	width: 48%;
}

div.sortableColumn div.pod{
	margin: 10px;
	margin-bottom: 0px;
	background-color: #fff;
	padding: 10px;
	font-size: 10pt;
}

ul.sortable  {
padding:10px;
margin:0px;
list-style: none;
min-height: 200px;;
background-color: #eee;
}

ul.sortable li {
padding:5px;
margin:0px;
margin-left:0px;
margin-bottom: 5px;
list-style-type:none;
font-weight:normal;
height: 50px;
}

ul.sortable li img.thumb{
	height: 44px;
	width: 60px;
	border: 1px solid #555;
	padding: 2px;
	float: left;
}

ul.sortable li div.info{
	margin: 3px;
	margin-left: 10px;
	float: left;
}

ul.sortable li.white {
background-color: #fff;
border:1px solid #ccc;
cursor: move;
color: #000;
}

ul.sortable li.white:hover{
	border: 1px solid #999;
}

ul.sortable  li.orange {
	border:1px solid #E8A400;
	background-color: #FFF4D8;
	cursor: move;
}

ul.sortable li.orange:hover{
	border: 1px solid #999;
}
