div.header
{
	background-color:#b91ee6;
	padding:20px;
}

div.header div.logo
{
	color:#FFF;
	font-size:13pt;
	font-weight:bold;
	width:300px;
	text-align:right;
	font-variant:small-caps;
}
a
{
	text-decoration:underline;
	font-size:10pt;
}

h2
{
	font-size:12pt;
	background-color:#f8e86e;
	padding:5px 10px;
	margin:0px;
	color:#666;
}
h4
{
	margin-bottom:5px;
}
div.termsconditions
{
	font-size:8pt;
	overflow:auto;
	height:400px;
	padding:10px;
	border: 1px solid #EEE;
	color:#333;
}

div.termsconditions ol
{
	margin:0px;
}
div.termsconditions ol li
{
	margin:0px;
	padding:0px;
}
div.accepttc
{
	padding:10px;
	font-size:9pt;
	font-weight:bold;
}
div.accepttc input
{
	margin:10px;
	padding:3px 25px;
	font-weight:bold;
}
div.pod
{
	height:auto;
	border: 1px solid #CCC;
	padding:20px;
	margin-bottom:20px;
}

div.noborder
{
	border:none;
}

div.implementation textarea
{
	width:95%;
	padding:1%;
	margin:8px 10px 15px 5px;
	height:65px;
	color:#222;
	font-family: 'Courier New', monospace;
}
div.implementation textarea:hover, div.implementation textarea:active, div.implementation textarea:focus
{
	border:1px solid #f8e86e;
}